# System Files
.DS_Store
Thumbs.db

# Node
node_modules/
dist/
npm-debug.log
yarn-error.log
.angular/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
